<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
</head>
<body>
    <h1>Ejercicio 1</h1>
    <form action="">
        <h1>Calculo de compras</h1>
        <h2>Ingresa tu nombre</h2>
        <input type="text">
        <h2>Ingresa tu edad</h2>
        <input type="text">
        <h2>Ingrese la cantidad de tarros de pintura a comprar</h2>
        <button>Calcular</button>
    </form>
</body>
</html>