<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <title>Ejercicio 2</title>
</head>
<body>
    <h1>Inicio de sesión</h1>
    <form action="/login" method="post">
        <h2>Ingresa tu nombre de usuario</h2>
        <input 
        name="username" 
        type="text" 
        placeholder="Ingrese su nombre de usuario"
        >
        <h2>Ingresa tu contraseña</h2>
        <input 
        type="password"
        name="password"
        placeholder="Ingrese su contraseña"
        >
        <button>Verificar</button>
    </form>
    {% if username == 'juan' and password == 'admin'%}
        <h2>Bienvenido administrador {{ username }}</h2>
    {% endif %}

    {% if username == 'pepe' and password == 'user'%}
        <h2>Bienvenido usuario {{ username }}</h2>
    {% endif %}

    {% if username != 'juan' and username != 'pepe' and password != 'admin' and password != 'user' %}
        <h2>Usuario o contraseña incorrectos</h2>
    {% endif %}
</body>
</html>